<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cosimus</title>
  <link rel="stylesheet" href="css/mystyles.css">
  <link rel='stylesheet' href='icons/microns.css' />
  <link rel="stylesheet" media="screen" href="fonts/Now-Regular/font.css" type="text/css"/>
</head>

<body>

  <nav class="level px-4 py-2">

    <div class="level-left is-hidden-mobile">
      <div class="level-item">
        <a href="https://www.cosimus.com" class="has-text-grey-dark has-text-weight-bold is-size-5">
          Cosimus
        </a>
      </div>
    </div>

    <div class="level-right">
      <div class="level-item">
        <nav class="breadcrumb has-dot-separator is-right" aria-label="breadcrumbs">
          <ul>
            <li><a href="#a-propos-de-moi" class="has-text-grey-dark">A propos de moi</a></li>
            <li><a href="#competences" class="has-text-grey-dark">Compétences</a></li>
            <li><a href="#missions" class="has-text-grey-dark">Missions</a></li>
            <li><a href="https://www.malt.fr/profile/guillaumecherel" class="has-text-grey-dark">Malt</a></li>
            <li><a href="https://www.linkedin.com/in/guillaumecherel/" class="has-text-grey-dark">LinkedIn</a></li>
            <li><a href="https://github.com/guillaumecherel" class="has-text-grey-dark">Github</a></li>
            <li><a href="mailto:guillaume.cherel@cosimus.com" class="has-text-grey-dark">guillaume.cherel@cosimus.com</a></li>
          </ul>
        </nav>
      </div>
    </div>

  </nav>

{% block content %} {% endblock %}

  <footer class="footer">
    <div class="columns is-centered">
    <div class="column ">
      <p><strong>Cosimus</strong> par Guillaume Chérel.</p>
      <p>guillaume.cherel@cosimus.com</p>
      <p>07 49 60 59 50</p>
    </div>
    <div class="column">
        <a href="https://www.s-ings.com/projects/microns-icon-font/">Microns</a> icon set by Stephen Hutchings  is licensed under <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA</a>
    </div>
    </div>
  </footer>
</body>

</html>
