<div class="block business-card has-text-centered py-6 my-0 mx-5 px-5">
  <h1 class="title is-size-1">Cosimus</h1>
  <h2 class="subtitle is-size-4">Développement logiciel scientifique</h2>

  <div class="block is-size-4 mb-1">
    <p>Guillaume Chérel, Ph.D.</p>
  </div>

  <div class="columns is-centered is-mobile mb-0">
    <div class="column is-narrow ">
      <a href="mailto:guillaume.cherel@cosimus.com">
        <span class="icon my-0 py-0" >
          <i class="mu mu-mail is-size-3 my-0 py-0"></i>
        </span>
      </a>
    </div>
    <div class="column is-narrow">
      <a href="https://www.malt.fr/profile/guillaumecherel">
        <img width="22" height="22" src="logos/Malt-Mark.svg">
      </a>
    </div>
    <div class="column is-narrow">
      <a href="https://www.linkedin.com/in/guillaumecherel/">
        <img width="28" height="28" src="logos/LinkedIn-Mark.svg">
      </a>
    </div>
    <div class="column is-narrow">
      <a href="https://github.com/guillaumecherel">
        <img width="24" height="24" src="logos/GitHub-Mark.svg">
      </a>
    </div>
  </div>

  <div class="columns is-centered is-vcentered is-mobile is-size-4 pt-0">
    <div class="column is-narrow pt-0">
      <a class="link" href="2020-09-10_ingenieur_modelisation_indep_fr_web.pdf">CV</a>
    </div>
    <div class="column is-narrow pt-0">
      <a class="link" href="publications.pdf">publications</a>
    </div>
  </div>
  
<!-- box -->
</div>
