{% extends "base.html" %}

{% block content %}

<section class="section py-6 mb-6">
  <div class="container is-max-desktop">
    <div class="columns is-centered">
      <div class="column has-text-centered is-narrow">
        <h1 class="title">Cosimus</h1>

        <h2 class="subtitle">Créer les logiciels dont vous avez besoin</h2>

        <div class="block is-size-5">
        <p>Développement logiciel: Scala, Haskell, Python, Rust</p>
        <p>Automatisation et traitement de données</p>
        </div>

        <div class="block is-size-4 mb-1">
          <p>Guillaume Chérel</p>
        </div>

        <div class="columns is-centered is-vcentered is-mobile mb-0">
          <div class="column is-narrow ">
            <a href="mailto:guillaume.cherel@cosimus.com" class="has-text-dark">
              <span class="icon my-0 py-0" >
                <i class="mu mu-mail is-size-3 my-0 py-0"></i>
              </span>
            </a>
          </div>
          <div class="column is-narrow">
            <a href="https://www.malt.fr/profile/guillaumecherel">
              <img width="22" height="22" src="logos/Malt-Mark.svg">
            </a>
          </div>
          <div class="column is-narrow">
            <a href="https://www.linkedin.com/in/guillaumecherel/">
              <img width="28" height="28" src="logos/LinkedIn-Mark.svg">
            </a>
          </div>
          <div class="column is-narrow">
            <a href="https://github.com/guillaumecherel">
              <img width="24" height="24" src="logos/GitHub-Mark.svg">
            </a>
          </div>
        </div>

        <div class="columns is-centered is-vcentered is-mobile is-size-5 pt-0">
          <div class="column is-narrow  pt-0">
            <a href="2020-09-10_ingenieur_modelisation_indep_fr_web.pdf" class="has-text-black">CV</a>
          </div>
          <div class="column is-narrow  pt-0">
            <a href="publications.pdf" class="has-text-black">publications</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="section has-background-light">
    <div class="container is-max-desktop">
      <div class="columns mb-6 is-multiline is-centered">
        <div class="column has-text-justified is-two-thirds">

          <h2 class="title has-text-centered">Pourquoi ?</h2>

          <p>Pour créer les logiciels qui répondent précisément à vos besoins,
          fiables et sur lesquels vous pourrez compter longtemps.</p>

        </div>

        <div class="column has-text-justified is-half">
          <h2 class="title has-text-centered">Comment ?</h2>

          <p><strong>En vous écoutant.</strong> Je veux commencer par comprendre
          votre métier en détail et vous aider à formuler vos besoins
          précisément.</p>

          <p><strong>En modélisant.</strong> Traduire vos besoins en concepts
          clairs et précis, c'est poser les bases pour concevoir des logiciels
          que vous ou vos clients pourrez prendre en main intuitivement et en
          confiance.</p>

          <p><strong>En écrivant du code de qualité.</strong> Un logiciel bien
          conceptualisé et écrit avec rigueur est plus fiable et plus facile à
          maintenir et à faire évoluer.</p>

          <p><strong>En utilisant des technologies établies</strong> pour
          construire en confiance et pour longtemps.</p>

          <p><strong>En communiquant.</strong> Documenter, former, échanger pour
          que vos équipes et vous puissiez vous réapproprier mon travail et être
          libres.</p>

        </div>

        <div class="column has-text-justified is-half">
          <h2 class="title has-text-centered">Quoi ?</h2>

          <p>Développer des logiciels en <strong>Scala, Haskell, Python, C, C++,
            Java ou Rust</strong>,</p>

          <p>Récolter, traiter et analyser vos données avec <strong>Pandas,
            Numpy, Matplotlib, R, SQL, Elasticsearch</strong>,</p>

          <p>Automatiser et déployer des applications sur vos machines ou sur le
          cloud avec <strong>AWS, docker, Bash</strong>,</p>

          <p>Utiliser les outils de développement modernes pour collaborer et
          livrer efficacement: <strong>Git, CI/CD, docker, micro-services
          cloud</strong>,</p>

          <p>Écrire des <strong>cahiers des charges</strong> pour donner forme à
          vos besoins et des <strong>documentations techniques et
          fonctionnelles</strong> pour communiquer avec vous et vos équipes.</p>

          <p>Contactez-moi par <a href="mailto:guillaume.cherel@cosimus.com">mail</a> ou via 
          <a href="https://www.malt.fr/profile/guillaumecherel">Malt</a>,
          <a href="https://www.linkedin.com/in/guillaumecherel/">LinkedIn</a> ou
          <a href="https://github.com/guillaumecherel">GitHub</a>.</p>
        </div>

    </div>
  </div>
</section>

<section class="section">
    <div class="container is-max-desktop">
      <div class="columns mb-6 is-multiline is-centered">
        <div class="column has-text-justified is-two-thirds">

          <h2 id="a-propos-de-moi" class="title has-text-centered"> 
            À propos de moi…
          </h2>

          <p>Docteur depuis 2013 en modélisation et simulation de systèmes
          complexes et ingénieur au CNRS et à l'Inria, j'ai participé au
          développement de logiciels et accompagné des chercheurs dans leur
          démarche scientifique par la simulation et le traitement de données.
          J'ai découvert des métiers et des sujets passionnants pour concevoir
          les solutions logicielles qui répondent précisément à des besoins
          pointus. Cette position d'interlocuteur à l'écoute de vos besoins et
          d'expert technique m'épanouit et je la propose maintenant comme
          service indépendant en l'élargissant aux entreprises, associations et
          autres organismes publics œuvrant dans des domaines variés.</p>

      </div>
    </div>
  </div>
</section>

<div class="columns is-centered is-vcentered is-mobile pb-6">
  <div class="column has-text-centered">

    <span class="icon">
      <i class="mu mu-down is-size-2 is-size-4-mobile"></i>
    </span>

  </div>
</div>


{% include "trousse_a_outils.html" %}
{% include "missions.html" %}

{% endblock content %} 
