{% import "macro_missions.html" as macro_missions  %}

{% extends "base.html" %}

{% block content %}




<section class="hero is-fullheight has-background-low-1">

  <div class="hero-head">
    <div class="container is-max-desktop">
      {% include "navbar.html" %}
    </div>
  </div>

  <div class="hero-body">
    <div class="container is-max-desktop">
      <div class="columns is-multiline">

        <div class="column is-half">
          {% include "business-card.html" %}
        </div>

        <div class="column is-half">
          <p class="block">
            Je vous aide à développer les bases informatiques rigoureuses et
            ouvertes pour vos besoins scientifiques, d'ingénierie et
            d'analyse de données.
          </p>
          
          <p class="block">
          Docteur dans le domaine du calcul scientifique, j'accompagne en
          freelance les scientifiques, chercheurs et ingénieurs dans le
          développement informatique de leurs calculs scientifiques et leur
          exploitation. 
          </p>
        </div>

        <div class="column is-full">
          <p>
             Je peux vous aider à :
          </p>
        </div>

        <div class="column is-third">
            <strong>Développer</strong> des algorithmes de calcul
            scientifique, des modèles de simulation, des méthodes d'analyse
            de données en Scala, Rust, Haskell, Python ou R.
        </div>

        <div class="column is-third">
            <strong>Automatiser vos calculs et faciliter vos
              collaborations</strong>, en mettant en place des environnements
            de développement et de calcul avec Git, CICD et Docker.
        </div>

        <div class="column is-third">
            <strong>Mettre en production</strong> des applications pour offrir
            à des utilisateurs des services basés sur les résultats ou méthodes
            de calculs développées, localement ou dans le cloud.
        </div>

        <div class="column is-full">
          <p>Je suis joignable par 
          <a href="mailto:guillaume.cherel@cosimus.com">e-mail</a> 
          ou via 
          <a href="https://www.malt.fr/profile/guillaumecherel">Malt</a>,
          <a href="https://www.linkedin.com/in/guillaumecherel/">LinkedIn</a> 
          ou
          <a href="https://github.com/guillaumecherel">GitHub</a>.</p>

          <p>
            En savoir plus sur <a href="#mes-services">mes services</a>
          </p>

        </div>

      <!-- end of columns -->
      </div>
    <!-- end of container -->
    </div>
  <!-- end of hero-body -->
  </div>


  <div class="hero-foot pb-6">
    {% include "continue-down-arrow.html" %}
  </div>

</section>




<section class="section has-background-high-1">
  <div class="container is-max-desktop">
    <div class="columns">
      <div class="column has-text-justified is-full">

        <h2 id="a-propos-de-moi" class="title"> 
          À propos de moi…
        </h2>

        <p>
          Docteur depuis 2013 en modélisation et simulation de systèmes
          complexes et ingénieur de recherche au CNRS et à l'Inria, j'ai
          participé au développement de logiciels et accompagné des chercheurs
          dans leur démarche scientifique par la simulation et le traitement de
          données. J'ai découvert des métiers et des sujets passionnants pour
          concevoir les solutions logicielles qui répondent précisément à des
          besoins de pointe. Cette position d'interlocuteur à l'écoute de vos
          besoins et d'expert technique m'épanouit et je la propose maintenant
          comme service indépendant en l'élargissant aux entreprises,
          associations et autres organismes publics œuvrant dans des domaines
          variés.
        </p>

      </div>
    <!-- end of columns -->
    </div>
  <!-- end of container -->
  </div>
</section>




<section class="section has-background-low-2">
  <div class="container is-max-desktop">
    <div class="columns">

      <div class="column is-full">

        <h2 id="mes-services" class="title">Mes services</h2>

        {% set page_mes_services = get_page(path="mes-services.md") %}

        <div class="content">
          {{ page_mes_services.content | safe }}
        </div>
          
      </div>



    <!-- end of columns -->
    </div>
  <!-- end of container -->
  </div>
</section>


{#
<section class="section has-background-high-1">
  <div class="container is-max-desktop">
    <div class="columns is-multiline">

      <div class="column is-half">

        <h2 class="title">Pourquoi ?</h2>
          
        <p>
          J'aspire à créer les bases informatiques rigoureuses et ouvertes
          pour les besoins de la science et de l'ingénierie.
        </p>

      </div>

      <!-- Empty column to force new row -->
      <div class="column is-hidden-mobile">
      </div>

      <div class="column is-half">

        <h2 class="title">Comment ?</h2>

        <p><strong>En vous écoutant,</strong> pour comprendre votre métier en
        détail et vous aider à formuler vos besoins précisément.</p>

        <p><strong>En modélisant rigoureusement.</strong> Traduire vos besoins
        en concepts clairs et précis, c'est poser les bases pour concevoir des
        logiciels que vous pourrez prendre en main intuitivement et en
        confiance.</p>

        <p><strong>En écrivant du code de qualité.</strong> Un logiciel bien
        conceptualisé et écrit avec rigueur est plus fiable et plus facile à
        maintenir et à faire évoluer.</p>

        <p><strong>En utilisant des technologies fiables,</strong> conçues 
        pour construire en confiance et pour longtemps.</p>

        <p><strong>En communiquant.</strong> Documenter, former, échanger pour
        que vos équipes et vous puissiez vous réapproprier mon travail et être
        libres.</p>

      </div>

      <div class="column is-half">

        <h2 class="title">Quoi ?</h2>

        <p>
          Je développe des logiciels et bibliothèques de calcul scientifique
          en <strong>Scala, Haskell, Rust</strong>, en favorisant un style
          fonctionnel, immutable et qui circonscrit les effets de bords pour
          plus de fiabilité.
        </p>

        <p>
          J'écris des chaînes de traitement pour récolter, traiter et
          analyser vos données avec <strong>Python, R, SQL,
          Elasticsearch</strong>.
        </p>

        <p>
          J'utilise les outils de développement modernes pour collaborer et
          déployer des calculs efficacement : <strong>Git, CI/CD,
          docker</strong>.  
        </p>

      </div>

    <!-- end of columns -->
    </div>
  <!-- end of container -->
  </div>
</section>
#}




<section class="section has-background-high-2">
  <div class="container is-max-desktop">
    <div class="columns">
      <div class="column is-full">
        
        <h2 id="competences" class="title">
          Ma trousse à outils (tech et le reste)
        </h2>

        {% include "trousse_a_outils.html" %}

      </div>
    <!-- end of columns -->
    </div>
  <!-- end of container -->
  </div>
</section>




<section class="section has-background-low-3">
  <div class="container is-max-desktop">
    <div class="columns">
      <div class="column is-full">

        <h2  class="title"><a id="missions"></a>
          Missions passées 
        </h2>

        {{ macro_missions::mission_list(per_column=3) }}

        </div>
      </div>

    <!-- end of columns -->
    </div>
  <!-- end of container -->
  </div>
<!-- end of section -->
</section>




{% endblock content %} 
