{% import "macro_missions.html" as macro_missions  %}

{% extends "base.html" %}

{% block content %}

<section class="section">
  <div class="container is-max-desktop">
    <div class="columns is-multiline">

      <div class="column is-full">
        <div class="module has-background-low-1">

          <h2 class="title">
            <a id="{{page.title | slugify}}"></a>
            {{ page.title | safe }}
          </h2>

          <div class="columns">

            <div class="column is-half">

              <div class="block is-italic">
                Pour : {{page.extra.client}}
                  <br/>
                  {{page.extra.date}}
              </div>

              {{ page.content | safe }}

            </div>

            <div class="column is-half">
              <div class="box">
                <img src="{{ page.permalink | safe }}figure.png">
              </div>
            </div>

          </div>

        </div>
      <!-- end of column -->
      </div>

      <div class="column is-full">
        <div class="module has-background-low-3">
          <h2 class="title"><a id="missions"></a>
             D'autres missions
          </h2>
          {{ macro_missions::mission_list(per_column=3) }}
        </div>
      </div>

    <!-- end of columns -->
    </div>
  </div>
</section>




{% endblock content %} 
