{% set travaux = get_section(path="travaux/_index.md") %}

<section class="hero">
  <div class="hero-head has-background-grey-dark py-3">
    <div class="columns is-centered is-vcentered is-mobile">
      <div class="column has-text-centered is-narrow">
        <h2 class="title has-text-light is-size-4-mobile"><a id="missions"></a>Missions</h2>
      </div>
  </div>

  <div class="hero-body pt-0 has-background-grey-dark has-text-light ">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
      <div class="content has-text-left">
        <ul>
        {% for page in travaux.pages %}
        <li><a href="#{{page.title | slugify}}" class="has-text-grey-lighter">{{page.title}}</a></li>
        {% endfor %}
        </ul>
      </div>
      </div>
    </div>
  </div>
</section>

{% for page in travaux.pages %}
{% if loop.index % 2 == 0 %}
{% set bgColor = "lighter" %}
{% else %}
{% set bgColor = "light" %}
{% endif %}
<section class="hero is-{{bgColor}}">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <div class="content has-text-justified">
        <h2 class="title">
          <span class="icon">
            <i class="mu mu-i-right"></i>
          </span>
          <a id="{{page.title | slugify}}"></a>
          {{ page.title | safe }}
        </h2>

        <div class="columns">
          <div class="column">
            {{ page.content | safe }}
          </div>

          <div class="column">
            <div class="box">
            <img src="{{ page.permalink | safe }}figure.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endfor %}

