{% set travaux = get_section(path="missions/_index.md") %}

<section class="hero has-background-white">
  <div class="hero-head pt-6">
    <div class="columns is-centered is-vcentered is-mobile">
      <div class="column has-text-centered is-narrow">
        <h2 class="title is-size-4-mobile"><a id="missions"></a>
          Missions passées et autres contrats
        </h2>
      </div>
  </div>

  <div class="hero-body pt-0 ">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
      <div class="content has-text-left">
        {% for page in travaux.pages %}
        <p>
          <a href="{{page.permalink}}" class="has-text-link">{{page.title}}</a>
          <br/>
          Pour: {{page.extra.client}}
          <br/>
          {{page.extra.date}}
        </p>
        {% endfor %}
        </ul>
      </div>
      </div>
    </div>
  </div>

  <div class="hero-foot pt-6">
  </div>
</section>
