<nav class="level px-4 py-2 has-background-white">

  <div class="level-left is-hidden-mobile">
    <div class="level-item">
      <a href="https://www.cosimus.com" class="has-text-grey-dark has-text-weight-bold is-size-5">
        Cosimus
      </a>
    </div>
  </div>

  <div class="level-right">
    <div class="level-item">
      <nav class="breadcrumb has-dot-separator is-right" aria-label="breadcrumbs">
        <ul>
          <li><a href="#a-propos-de-moi" class="has-text-grey-dark">A propos de moi</a></li>
          <li><a href="#competences" class="has-text-grey-dark">Compétences</a></li>
          <li><a href="#missions" class="has-text-grey-dark">Missions</a></li>
          <li><a href="https://www.malt.fr/profile/guillaumecherel" class="has-text-grey-dark">Malt</a></li>
          <li><a href="https://www.linkedin.com/in/guillaumecherel/" class="has-text-grey-dark">LinkedIn</a></li>
          <li><a href="https://github.com/guillaumecherel" class="has-text-grey-dark">Github</a></li>
          <li><a href="mailto:guillaume.cherel@cosimus.com" class="has-text-grey-dark">guillaume.cherel@cosimus.com</a></li>
        </ul>
      </nav>
    </div>
  </div>

</nav>


