<!--
<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">

  <div class="navbar-brand">

    <a class="navbar-item" href="https://www.cosimus.com">
      Cosimus
    </a>

    <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>

  </div>

  <div class="navbar-menu is-desktop">

    <div class="navbar-start">
    </div>

    <div class="navbar-end">
      <a class="navbar-item" href="#a-propos-de-moi">À propos de moi</a>
      <a class="navbar-item" href="#competences">Compétences</a>
      <a class="navbar-item" href="#missions">Missions</a>
      <a class="navbar-item" href="https://www.malt.fr/profile/guillaumecherel">Malt</a>
      <a class="navbar-item" href="https://www.linkedin.com/in/guillaumecherel/">LinkedIn</a>
      <a class="navbar-item" href="https://github.com/guillaumecherel">Github</a>
      <a class="navbar-item" href="mailto:guillaume.cherel@cosimus.com">guillaume.cherel@cosimus.com</a>
    </div>

  </div>

</nav>
-->

<nav class="level">

  <div class="level-left is-hidden-mobile">
    <div class="level-item">
      <a href="https://www.cosimus.com" class="has-text-grey-dark has-text-weight-bold is-size-5">
        Cosimus
      </a>
    </div>
  </div>

  <div class="level-right">
    <div class="level-item">
      <nav class="breadcrumb has-dot-separator is-right" aria-label="breadcrumbs">
        <ul>
          <li><a href="#a-propos-de-moi" class="has-text-grey-dark">À propos de moi</a></li>
          <li><a href="#competences" class="has-text-grey-dark">Compétences</a></li>
          <li><a href="#missions" class="has-text-grey-dark">Missions</a></li>
          <li><a href="https://www.malt.fr/profile/guillaumecherel" class="has-text-grey-dark">Malt</a></li>
          <li><a href="https://www.linkedin.com/in/guillaumecherel/" class="has-text-grey-dark">LinkedIn</a></li>
          <li><a href="https://github.com/guillaumecherel" class="has-text-grey-dark">Github</a></li>
          <li><a href="mailto:guillaume.cherel@cosimus.com" class="has-text-grey-dark">guillaume.cherel@cosimus.com</a></li>
        </ul>
      </nav>
    </div>
  </div>

</nav>


