<section class="hero">
  <div class="hero-head has-background-light pt-6">
    <div class="block has-text-centered">
      
      <h2 id="competences" class="title is-size-4-mobile">
        Ma trousse à outils (tech et le reste)
      </h2>
    </div>
  </div>

  <div class="hero-body has-background-light">
    <div class="container is-max-desktop">
      <div class="tile is-ancestor">
        <div class="tile is-vertical">  
          <!-- Row 1 -->
          <div class="tile is-parent mt-0 mb-2 py-0 ">
            <!-- Column 1 -->
            <div class="tile is-parent is-2 m-0 p-0 mr-2"> 
            </div>
            <!-- Column 2 -->
            <div class="tile is-parent m-0 p-0 mr-1">
              <div class="tile is-child box px-2 py-1 has-text-centered has-background-info-light">
                <div class="columns is-mobile is-vcentered">
                  <div class="column is-narrow">
                    <span class="icon">
                      <i class="mu mu-star"></i>
                    </span>
                  </div>
                  <div class="column">
                    <p class="title is-5">
                    Je fais</p> 
                    <p class="subtitle is-6">(expérience avec un ou plusieurs projets)</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Column 3 -->
            <div class="tile is-parent m-0 p-0 mr-1"> 
              <div class="tile is-child box px-2 py-1 has-text-centered">
                <div class="columns is-mobile is-vcentered">
                  <div class="column is-narrow">
                    <span class="icon">
                      <i class="mu mu-flag"></i>
                    </span>
                  </div>
                  <div class="column">
                    <p class="title is-5"> J'ai testé</p> 
                    <p class="subtitle is-6">(étude ou projet perso)</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Column 4 -->
            <div class="tile is-parent m-0 p-0 mr-1"> 
              <div class="tile is-child box px-2 py-1 has-text-centered">
                <div class="columns is-mobile is-vcentered">
                  <div class="column is-narrow">
                    <span class="icon">
                      <i class="mu mu-show"></i>
                    </span>
                  </div>
                  <div class="column">
                    <p class="title is-5"> Ça m'intéresse</p> 
                    <p class="subtitle is-6">(pour l'avenir)</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Row 2 -->
          <div class="tile is-parent mt-0 mb-1 py-0">
            <!-- Column 1 -->
            <div class="tile is-parent is-2 m-0 p-0 mr-2">
              <div class="tile is-child box px-2 py-1">
                <p class="title is-5">Langages</p> 
              </div>
            </div>
            <!-- Column 2 -->
            <div class="tile is-parent m-0 p-0 mr-1">
              <div class="tile is-child box px-2 py-1 has-background-info-light">
                <div class="columns is-mobile is-vcentered">
                  <div class="column is-narrow is-hidden-tablet">
                    <span class="icon">
                      <i class="mu mu-star"></i>
                    </span>
                  </div>
                  <div class="column">
                    <p>Scala, Haskell, Python, C, R, Shell</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Column 3 -->
            <div class="tile is-parent m-0 p-0 mr-1">
              <div class="tile is-child box px-2 py-1">
                <div class="columns is-mobile is-vcentered">
                  <div class="column is-narrow is-hidden-tablet">
                    <span class="icon">
                      <i class="mu mu-flag"></i>
                    </span>
                  </div>
                  <div class="column">
                    <p>Java, Rust, SQL, Elm, Purescript, Scheme</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Column 4 -->
            <div class="tile is-parent m-0 p-0 mr-1">
              <div class="tile is-child box px-2 py-1">
                <div class="columns is-mobile is-vcentered">
                  <div class="column is-narrow is-hidden-tablet">
                    <span class="icon">
                      <i class="mu mu-show"></i>
                    </span>
                  </div>
                  <div class="column">
                    <p>Javascript, React.js, Vue.js, Elixir</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Row 3 -->
          <div class="tile is-parent mt-0 mb-1 py-0">
            <!-- Column 1 -->
            <div class="tile is-parent is-2 m-0 p-0 mr-2">
              <div class="tile is-child box px-2 py-1">
                <p class="title is-5">Data science & calcul scientifique</p> 
              </div>
            </div>
            <!-- Column 2 -->
            <div class="tile is-parent m-0 p-0 mr-1">
              <div class="tile is-child box px-2 py-1 has-background-info-light">
                <div class="columns is-mobile is-vcentered">
                  <div class="column is-narrow is-hidden-tablet">
                    <span class="icon">
                      <i class="mu mu-star"></i>
                    </span>
                  </div>
                  <div class="column">
                    <p>Analyse de données,</p> 
                    <p>Pandas, Numpy, Scipy, Matplotlib, ggplot2, Gnuplot,</p> 
                    <p>Simulation à base d'agents et individu-centré</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Column 3 -->
            <div class="tile is-parent m-0 p-0 mr-1">
              <div class="tile is-child box px-2 py-1">
                <div class="columns is-mobile is-vcentered">
                  <div class="column is-narrow is-hidden-tablet">
                    <span class="icon">
                      <i class="mu mu-flag"></i>
                    </span>
                  </div>
                  <div class="column">
                    <p>Statistiques, Machine learning, Spark</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Column 4 -->
            <div class="tile is-parent m-0 p-0 mr-1">
              <div class="tile is-child box px-2 py-1">
                <div class="columns is-mobile is-vcentered">
                  <div class="column is-narrow is-hidden-tablet">
                    <span class="icon">
                      <i class="mu mu-show"></i>
                    </span>
                  </div>
                  <div class="column">
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Row 4 -->
          <div class="tile is-parent mt-0 mb-1 py-0">
            <!-- Column 1 -->
            <div class="tile is-parent is-2 m-0 p-0 mr-2">
              <div class="tile is-child box px-2 py-1">
                <p class="title is-5">Environnement de développement</p> 
              </div>
            </div>
            <!-- Column 2 -->
            <div class="tile is-parent m-0 p-0 mr-1">
              <div class="tile is-child box px-2 py-1 has-background-info-light">
                <div class="columns is-mobile is-vcentered">
                  <div class="column is-narrow is-hidden-tablet">
                    <span class="icon">
                      <i class="mu mu-star"></i>
                    </span>
                  </div>
                  <div class="column">
                    <p>Linux, Git</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Column 3 -->
            <div class="tile is-parent m-0 p-0 mr-1">
              <div class="tile is-child box px-2 py-1">
                <div class="columns is-mobile is-vcentered">
                  <div class="column is-narrow is-hidden-tablet">
                    <span class="icon">
                      <i class="mu mu-flag"></i>
                    </span>
                  </div>
                  <div class="column">
                    <p>Nix</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Column 4 -->
            <div class="tile is-parent m-0 p-0 mr-1">
              <div class="tile is-child box px-2 py-1">
                <div class="columns is-mobile is-vcentered">
                  <div class="column is-narrow is-hidden-tablet">
                    <span class="icon">
                      <i class="mu mu-show"></i>
                    </span>
                  </div>
                  <div class="column">
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Row 5 -->
          <div class="tile is-parent mt-0 mb-1 py-0">
            <!-- Column 1 -->
            <div class="tile is-parent is-2 m-0 p-0 mr-2">
              <div class="tile is-child box px-2 py-1">
                <p class="title is-5">Bases de données </p> 
              </div>
            </div>
            <!-- Column 2 -->
            <div class="tile is-parent m-0 p-0 mr-1">
              <div class="tile is-child box px-2 py-1 has-background-info-light">
                <div class="columns is-mobile is-vcentered">
                  <div class="column is-narrow is-hidden-tablet">
                    <span class="icon">
                      <i class="mu mu-star"></i>
                    </span>
                  </div>
                  <div class="column">
                    <p>Elasticsearch</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Column 3 -->
            <div class="tile is-parent m-0 p-0 mr-1">
              <div class="tile is-child box px-2 py-1">
                <div class="columns is-mobile is-vcentered">
                  <div class="column is-narrow is-hidden-tablet">
                    <span class="icon">
                      <i class="mu mu-flag"></i>
                    </span>
                  </div>
                  <div class="column">
                    <p>SQLite</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Column 4 -->
            <div class="tile is-parent m-0 p-0 mr-1">
              <div class="tile is-child box px-2 py-1">
                <div class="columns is-mobile is-vcentered">
                  <div class="column is-narrow is-hidden-tablet">
                    <span class="icon">
                      <i class="mu mu-show"></i>
                    </span>
                  </div>
                  <div class="column">
                    <p>PostgreSQL, MySQL</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Row 6 -->
          <div class="tile is-parent mt-0 mb-1 py-0">
            <!-- Column 1 -->
            <div class="tile is-parent is-2 m-0 p-0 mr-2">
              <div class="tile is-child box px-2 py-1">
                <p class="title is-5">Communication</p> 
              </div>
            </div>
            <!-- Column 2 -->
            <div class="tile is-parent m-0 p-0 mr-1">
              <div class="tile is-child box px-2 py-1 has-background-info-light">
                <div class="columns is-mobile is-vcentered">
                  <div class="column is-narrow is-hidden-tablet">
                    <span class="icon">
                      <i class="mu mu-star"></i>
                    </span>
                  </div>
                  <div class="column">
                    <p>Rédaction scientifique et technique, enseignement,
                      vulgarisation, visualisation</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Column 3 -->
            <div class="tile is-parent m-0 p-0 mr-1">
              <div class="tile is-child box px-2 py-1">
                <div class="columns is-mobile is-vcentered">
                  <div class="column is-narrow is-hidden-tablet">
                    <span class="icon">
                      <i class="mu mu-flag"></i>
                    </span>
                  </div>
                  <div class="column">
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Column 4 -->
            <div class="tile is-parent m-0 p-0 mr-1">
              <div class="tile is-child box px-2 py-1">
                <div class="columns is-mobile is-vcentered">
                  <div class="column is-narrow is-hidden-tablet">
                    <span class="icon">
                      <i class="mu mu-show"></i>
                    </span>
                  </div>
                  <div class="column">
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Row 7 -->
          <div class="tile is-parent mt-0 mb-1 py-0">
            <!-- Column 1 -->
            <div class="tile is-parent is-2 m-0 p-0 mr-2">
              <div class="tile is-child box px-2 py-1">
                <p class="title is-5">DevOps</p> 
              </div>
            </div>
            <!-- Column 2 -->
            <div class="tile is-parent m-0 p-0 mr-1">
              <div class="tile is-child box px-2 py-1 has-background-info-light">
                <div class="columns is-mobile is-vcentered">
                  <div class="column is-narrow is-hidden-tablet">
                    <span class="icon">
                      <i class="mu mu-star"></i>
                    </span>
                  </div>
                  <div class="column">
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Column 3 -->
            <div class="tile is-parent m-0 p-0 mr-1">
              <div class="tile is-child box px-2 py-1">
                <div class="columns is-mobile is-vcentered">
                  <div class="column is-narrow is-hidden-tablet">
                    <span class="icon">
                      <i class="mu mu-flag"></i>
                    </span>
                  </div>
                  <div class="column">
                    <p>Docker, AWS</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Column 4 -->
            <div class="tile is-parent m-0 p-0 mr-1">
              <div class="tile is-child box px-2 py-1">
                <div class="columns is-mobile is-vcentered">
                  <div class="column is-narrow is-hidden-tablet">
                    <span class="icon">
                      <i class="mu mu-show"></i>
                    </span>
                  </div>
                  <div class="column">
                    <p>Terraform, Kubernetes</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="hero-foot has-background-light mb-6">
  </div>
</section>
